.sender_indicator {
    text-align: right;
    position: relative;
    top: -25px;
}

.message_text {
    font-size: 1.5em;
}

.bot {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.user {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}